[tools]
rust = "stable"
bun = "latest"
"cargo:bacon" = "latest"
"cargo:mprocs" = "latest"
"cargo:cargo-edit" = "latest"

[tasks.dev]
description = "Full hot-reloading stack"
run = "mprocs \"bacon --job run .\" \"bunx live-server output --port=3000 --no-browser\""

[tasks.clean]
description = "Bump dependencies and cargo fix"
run = "cargo upgrade; cargo fix --broken-code --allow-dirty && cargo clippy --fix --allow-dirty --quiet >/dev/null 2>&1 "
